* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
        color: white;   
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-family: Arial;
        margin: auto;
        padding: auto;
        background-color: rgb(20, 20, 20);

        .content {
            .header {
                background-color: black;
                width: 100vw;
                min-height: 2em;
                padding: 0.6vh;
                margin: auto;

                .container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0.5vw;
                    margin-right: 0.5vw;
                    color: white;
                }
            }

            .gameScreen {
                flex-direction: column;
                width: 70vw;
                margin: auto;
                margin-top: 0.5em;

                .colorMixingWindow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: xx-large;
                    width: 70vw;
                    margin: auto;
                    margin-bottom: 0.5em;

                    .finalColor {
                        background-size: 13vh 13vh;
                        background-color: rgb(255, 255, 255);
                        background-image: url("../images/Question_mark.png");
                        margin: auto;
                    }
                }

                .colorPicker {
                    display: flex;
                    max-width: 54vw;
                    min-height: 10em;
                    justify-content: center;
                    align-items: center;
                    padding: auto;
                    margin: auto;

                    #pickedColor {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 10em;
                        flex-grow: 1;
                        margin: auto;
                        margin-top: 0.5em;
                        padding: auto;

                        .picker {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            padding: auto;
                            margin: auto;

                            .slider {
                                justify-content: center;
                                align-items: center;
                                margin: 0.2em;
                            }
    
                            .submitButton {
                                margin: auto;
                                outline: none;
                                border: none;
                                border-radius: 30px;
                                padding: 10px;
                                font-size: 1.4em;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .modal {
            text-align: center;
            padding: 2em;
            min-width: 10em;
            min-height: 10em;
            border-radius: 40px;
            border: none;
            margin: auto;

            #resultsMessage{
                margin-bottom: 0.8em;
                
            }

            .modalContent{
                display: flex;
                flex-direction: column;
                align-items: center;
                .colorComparison{
                    display: flex;
                    flex-direction: row;
                    .comparedColor{
                        padding: 1em;
                    }
                    #finalDelta{
                        margin: auto;
                        padding-left: 1em;
                        padding-right: 1em;
                    }
                }
    
                #playAgain{
                    padding: auto;
                    margin: 0.8em;
                    margin-bottom: 0;
                    min-width: 8em;
                    height: 6vh; 
                    min-height: 2em;
                    font-size: 22px;
                    font-weight: 500;
                    border-radius: 30px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(20, 20, 20);
                }

            }
        }
    }
}

.colorBox {
    width: 13vh;
    height: 13vh;
    min-height: 4em;
    min-width: 4em;
    border-radius: 18px;
    margin: auto;
}

.red{
    color: red;
    font-weight: bold;
}
.green{
    color: green;
    font-weight: bold;
}
.blue{
    color: blue;
    font-weight: bold;
}