* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: Arial;
  margin: auto;
  padding: auto;
  background-color: rgb(20, 20, 20);
}
* body .content .header {
  background-color: black;
  width: 100vw;
  min-height: 2vh;
  padding: 0.6vh;
  margin: auto;
}
* body .content .header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: white;
}
* body .content .gameScreen {
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  margin: auto;
}
* body .content .gameScreen .colorMixingWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  height: 15vh;
  width: 70vw;
  margin: auto;
}
* body .content .gameScreen .colorMixingWindow .finalColor {
  width: 13vh;
  height: 13vh;
  background-size: 13vh 13vh;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/Question_mark.png");
  margin: auto;
}
* body .content .gameScreen .colorPicker {
  display: flex;
  min-width: 16vw;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}
* body .content .gameScreen .colorPicker #pickedColor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 13vh;
  min-height: 25vh;
  margin: auto;
}
* body .content .gameScreen .colorPicker #pickedColor .picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: auto;
  margin: auto;
}
* body .content .gameScreen .colorPicker #pickedColor .picker .slider {
  justify-content: center;
  align-items: center;
  margin: auto;
}
* body .content .gameScreen .colorPicker #pickedColor .picker .submitButton {
  margin: auto;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.4em;
  font-weight: 500;
  border-radius: 30px;
}
* body .modal {
  text-align: center;
  padding: 2em;
  min-width: 32vh;
  min-height: 26vh;
  border-radius: 40px;
  border: none;
  margin: auto;
}
* body .modal #resultsMessage {
  margin-bottom: 0.8em;
}
* body .modal .modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .modal .modalContent .colorComparison {
  display: flex;
  flex-direction: row;
}
* body .modal .modalContent .colorComparison .comparedColor {
  padding: 1em;
}
* body .modal .modalContent .colorComparison #finalDelta {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
* body .modal .modalContent #playAgain {
  margin: 0.8em;
  margin-bottom: 0;
  min-width: 30vw;
  height: 6vh;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}

.colorBox {
  width: 13vh;
  height: 13vh;
  border-radius: 18px;
  margin: auto;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
